<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.igiagante.thegarden">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:name=".core.AndroidApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">

        <provider
            android:authorities="com.igiagante.provider.flavors"
            android:name=".core.repository.sqlite.FlavorProvider" />

        <activity
            android:name=".home.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".home.plants.presentation.PlantListActivity"
            android:label="@string/activity_plant_name">
        </activity>

        <activity
            android:name=".creation.plants.presentation.CreatePlantActivity"
            android:label="@string/activity_create_plant"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".creation.plants.presentation.CarouselActivity"
            android:label="@string/activity_carousel">
        </activity>

    </application>

</manifest>